
body{
    font-family:'IRANSans';
    font-size:14px;
}

h1, h2, h3, h4, h5, h6{
    font-family:'IRANSans' !important;
}

.justnav {
    display: block;
}

#PhoneMenu {
    display:none;
}



.form-control{
    height:42px;
}

.header{
    height:100px;
    border-bottom:1px solid #b2b2b2;
}

.logo{
    display: inline-block;
    margin-left: 25px;
}

.logo-img{
    width:200px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left:0px;
    padding-right:0px;
    float:right;
}

.comercial{
    float:right;
    box-sizing:border-box;
    direction: rtl;
}

.comercial-btn{
    padding: 10px 20px;
    font-size: 16px;
    margin-top: -10px;
    background-color: #FEBE51;
    color: #111;
}

.rtl{
    direction:rtl;
}

#menu > ul > li{
    list-style:none;
    border-bottom:1px solid #b4b4b4;
    padding:30px;
}

#menu > ul > li > a{
    font-size:15px;
    color: #4f4f4f;
    font-weight:bolder;
}

#menu > ul > li > div{
    position: absolute;
    margin-right: 215px;
    background-color: #fff;
    height: 330px;
    width: 825px;
    display: none;
    border: 1px solid;
    z-index: 2;
    margin-top: -51px;
    text-align:center;

}


#MegaMenu > ul > li > div > ul > li{
    list-style:none;
    padding-top:10px;
    padding-bottom:10px;
    box-sizing:border-box;
    width:145px;

}



#MegaMenu > ul > li > div > ul > li > a > p{
    margin-right: 55px;
    margin-top: 10px;

}

#MegaMenu > ul > li > div > ul > li > a:hover > p{
    color:red;

}


.menu{
    display: inline-block;
    margin-left: 40px;
    margin-top: 15px;
    cursor: pointer;

}

.close-menu{
    float: right;
    margin: 10px 20px 0px 0px;
    font-size: 20px;
    color: blue;
}

/**************Slider*********************/



/***********MegaMenu**************/

#MegaMenu{
    padding-left: 0px;
    padding-right: 0px;
    height: 65px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}
#MegaMenu>img {
    display: none;
}
#MegaMenu > div > ul {
    direction: rtl;
    min-height: 50px;
    position: relative;
    float:right;
    margin-right: 20px
}

#MegaMenu > div > ul > li {
    list-style: none;
    float: right;
    width:40px;
    margin-top: 18px;
}

#MegaMenu > ul > li >div {
    display: none;
    width: 300px;
    height: 200px;
    background-color: white;
    position: absolute;
    /*right: 0px;*/
    z-index:999;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.3);
    top: 61px;
    text-align:center;
    color:black;
}

#MegaMenu > ul > li > div > ul > li > a {

    text-decoration: none;
    color: black;
    font-size:16px;
    font-weight:600;

}





#MegaMenu >ul > li >div >div > ul {
    list-style:none;
}

#MegaMenu >ul > li >div >div > ul > li > a:hover{
    color:red;
} 

#MegaMenu >ul > li >div >div >img {
    width: 90%;
    height: 250px;
    margin-top: 15px;
}

#MegaMenu > div >  ul > li >a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

#MegaMenu >  ul > li >a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    margin-right: 7px;
    font-size: 12px;
}

.search{
    display: inline-block;
    margin-left: 15px;
}

.login{
    margin-top: 15px;
    margin-left: 20px;
    display:inline-block;
}


.title {
    position: relative;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    padding: 0 40px;
    margin-bottom: 12px;
    border-right: 1px solid #505252;
    border-left: 1px solid #505252;
}

.title:after {
    content: " ";
    position: absolute;
    top: 50%;
    width: 66px;
    border-bottom: 1px solid #505252;
    left: 0;
    margin-left: -60px;
}

.title:before {
    content: " ";
    position: absolute;
    top: 50%;
    width: 66px;
    border-bottom: 1px solid #505252;
    right: 0;
    margin-right: -60px;
}

.fontcrosel {
    font-size: 13px;
    font-weight: bold;
    margin-top: 15px;
    color: black;
}

.cruselmaindiv{
    height:auto;
    width:190px;
    overflow:hidden;
    text-align:center;

}

.footer{
    border-top: 1px solid rgba(0,0,0,.0975);
    padding: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    background-color: #fff;
    color: black;
}

.banner-img{
    width: 100%;
    height: 290px;
}

.index-padlr{
    padding-left: 2px;
    padding-right: 2px;
}

.index-padir-34{
    padding-top: 4px;   
}

.imgfilter:hover{
    -webkit-filter: saturate(800%); /* Safari 6.0 - 9.0 */
    filter: saturate(180%);
}

/*******************login**********************/
.modal-login {
    display: none;
    position: fixed;
    z-index: 20;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content-login {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 6px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatefade;
    -webkit-animation-duration: 0.8s;
    animation-name: animatefade;
    animation-duration: 0.8s;
    top: 10%;
    width:33%;
}

.login-register-title {
    border-bottom: 1px solid #b2b2b2;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
}

.padding-login {
    padding: 30px;
}

.close-login{
    float: left;
    margin: -8px 10px 10px 10px;
    font-size: 30px;
}

.close-login:hover,
.close-login:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes animatefade {
    from {opacity:0} 
    to {opacity:1}
}

@keyframes animatefade {
    from {opacity:0}
    to {opacity:1}
}

.input-margin{
    margin: 0px 20px 0;
}

.tree-div{
    height:52px;border-bottom: 1px solid #e0e0e0;margin-bottom: 10px;font-size:13px
}

.s-tree{
    float:right;
}

.select-main{
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    width: 300px;
    left: 0px;
    top: 0px;
    height: 100%;
    color: black;

}

.select-input{
    height:42px;margin-bottom: 16px;
}

.item-main{
    margin-bottom:16px;
}

.list-box{
    border: 1px solid #eee;
    box-shadow: 1px 1px 3px 0 #f2f2f2;
    height: 485px;
    overflow: hidden;  
}


.item-div{
    display:inline-block;font-weight: bold;margin-right: 10px;margin-top: 10px;
}

.item-in-div{
    height:130px;padding:15px;
}

.select-product{
    border-radius: 4px;
    padding: 3px;
    height: 33px;
    border-color: #ccc;
}

.productlist-timg{
    width: 100%;
    overflow: hidden;
    height: auto;
}

.scrol-btn {
    display: none;  
}

/**********************menu*****************/

#main-des { 
    margin-top: 0px;
    padding: unset;
    padding-right: 0px;
    padding-left: 0px;
    display: none;
    position: fixed;
    z-index: 20;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    overflow-y: scroll;
    overflow-x: hidden;
}


#nested-modal {
    width: 300px;
    background-color: #fff;
    height: 100%; 
}

.modal-menu {
    text-align: center;
    margin-bottom: 0px;
}

.close-menu {
    color:black;
    font-size: 33px;
    font-weight: bold;
    cursor: pointer;
}

#p-menu{
    margin-top: 40px;
    text-align: center;
}

#p-menu h2{
    cursor: pointer;
    color: black;
    font-size: 16px;
    padding: 15px 20px 15px 10px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 0px;
}

#p-menu h2 a{
    text-decoration: none;
    color: rgb(0, 57, 230);  
}

#p-menu h3{
    cursor: pointer;
    color: black;
    font-size: 14px;
    padding: 15px 20px 15px 10px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 0px; 
}

#p-menu h3 a{
    text-decoration: none;
    color: black;  
}

.phone-special-div {
    background-color: #fff;
    height: 55px;
}

.phone-special-brand {
    padding: 15px 20px 15px 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

#mainselectmodal{
    direction: rtl;
    margin-top: 0px;
    padding: unset;
    padding-right: 0px;
    padding-left: 0px;
    display: none;
    position: fixed;
    z-index: 20;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    overflow-y: scroll;
    overflow-x: hidden;
}

.tagdiv{
    background-color: rgb(255, 255, 179);
    width: auto;
    display: inline-block; 
    direction: ltr;
    margin: 2px;
    border: 1px solid rgb(230, 230, 0);
    padding: 2px;
}

.taglist{
    direction: rtl;
    height: 28px;
    overflow: hidden; 
}

.zoom_main{
    width: auto;
    height: 500px; 
}

.thumb-zoom{
    width: 100px !important;
    height: 100px !important;
}

.zoomWindowContainer{
    width: 500px !important;
}

.pd-pimg-d{
    margin-bottom:20px;
    direction: rtl;
    margin-top: 30px;
}

.pd-pimg{
    width:80px;border: 1px solid #ccc;
}

.bt-g{
    margin-right:10px;
    bottom: 20px;
    position: absolute;
}


/**********************************************/

.timeline {
    width: 800px;
    height: 4px;
    border-radius: 2px;
    margin: 80px auto 30px;
    position: relative;
}


.steps > li {
    width: 25%;
    float: right;
    position: relative;
    height: 4px;
}

.cir {
    width: 20px;
    height: 20px;
    background: #eee;
    border-radius: 10px;
    border: 1px solid #d5d5d5;
    position: absolute;
    top: -6px;
    right: 50%;
    z-index: 1;
}

.steps {
    list-style: none;
}

.steps > li span {
    position: absolute;
    top: -30px;
    right: 35px;
    width: 150px;
    text-align: center;
    font: 13px/20px IRANSans;
    color: #000;
}

.proccess {
    width: 603px;
    position: absolute;
    top: 0;
    right: 107px;
    height: 4px;
    z-index: 0;
}

.pros {
    position: absolute;
    top: 0;
    right: 0;
    height: 4px;
    background: #88be5c;
}

.bar {
    width: 570px;
    position: absolute;
    top: 0;
    right: 107px;
    height: 4px;
    background: #eee;
    z-index: 0;
}

.steps > li.active .cir {
    background:blue;
    border-color:blue;
}

.table-align{
    text-align:center;
    color:red

}